---
const today = new Date();
---

<footer>
	<p>&copy; {today.getFullYear()} Conectando Ideas, Blog perteneciente a Nemeton Lab SpA. Todos los derechos reservados.</p>
</footer>
<style>
	footer {
		padding: 2em 1em 3em 1em;
		background: linear-gradient(var(--gray-gradient)) no-repeat;
		color: rgb(var(--gray));
		text-align: center;
		font-size: 0.9rem;
	}
</style>
